<app-nav></app-nav>
<div class="row" >
  <div class="col-md-4">
    <!-- property data binding -->
    <p>welcome to all</p>
    <button class="btn btn-warning" (click)="changeStatus">{{b?"show":"hide"}}</button>

    <table align="center" border="2" cellpadding="4" cellspacing="4">
      <thead>
     <tr>
       <th style="background-color: Yellow;color: rgba(170, 152, 152, 0.493)" >sno</th>
       <th style="background-color: Yellow;color: blue">name</th>
       <th style="background-color: Yellow;color: blue">gender</th>
       <th style="background-color: Yellow;color: blue">runs</th>
       <th style="background-color: Yellow;color: blue">dateOfBirth</th>

       
     </tr>
    </thead>
    <tbody>
     <tr  *ngFor="let cricketer of values">
       <td>{{cricketer.sno}}</td>
       <td >{{cricketer.name}}</td>
       <td>{{cricketer.gender}}</td>
       <td>{{cricketer.runs}}</td>
       <td>{{cricketer.dateOfBirth}}</td>
     </tr>
     <tr *ngIf="!values || values.length==5">    
      <td colspan="1">    
          No employees to show in the page....    
      </td>    
  </tr> 
    </tbody>
    </table>


  
    <!-- <button [disabled]='isDisabled'>Disable me</button>   -->
  </div>
  <div class="col-md-4">
    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
     <!-- <h2>{{task}}</h2

     <input type="text"[value]="City">
     <img  alt=""> -->
    

     <form action="">
       <div class="form group">
         <label for="">Name</label>
         <input #n type="text" placeholder="enter a name" name="name of user" class="form-control" >
       </div>
       <div class="form group">
        <label for="">date of birth</label>
        <input #d type="date" placeholder="enter date of birth"  class="form-control" >
      </div>
      <div class="form group">
        <label for="">course</label>
        <input #c type="text" placeholder="enter a course details" class="form-control" >
      </div>
      <div class="text-center">
        <button class="btn btn-success">add</button>
      </div>

     </form>

      <table>
        <tr>
          <th>name</th>
          <th>dob</th>
          <th>course</th>
        </tr>
        <tr>
          <td>{{n.value}}</td>
          <td>{{d.value}}</td>

          <td>{{c.value}}</td>

        </tr>
      </table>
  </div>
  <div class="col-md-4">
      <!-- event data binding -->
    <button (click)="onClick()" type="button">click me</button>
      <!-- using inter pollation to print on web page -->
     
      <h2> {{Greetings}}</h2>
     <!-- event data binding exmples -->
     <!-- <input type="text" (keyup.enter)="sendit"> -->

     <input type="text" (keyup)="sendit(ref.value)" #ref  />
     <br><br>
     <input type="text" (blur)="sendit(ref.value)" #ref  />
     
     <br><br>
     <input type="text" (keyupenter)="sendit(ref.value)" #ref  />
     <button (click)="onShow()">Show</button>


     
    <!-- two way data binding exampless -->
     
    <input [(ngModel)]="data" type="text">
    <button type="button">click </button>
    <br><br>
     <h2>{{data}}</h2>



  </div>
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>

