<!-- <form class="form-group" #TicketForm="ngForm">
    name : <input type="text" name="cn" #cn="ngModel"[ngModel] class="form-group" required>
     age : <input type="text" name="ca" #ca="ngModel" [ngModel] class="form-group">
    gender : <input type="radio" name="male" #male="ngModel" [ngModel] class="form-group">male
             <input type="radio" name="female" #female="ngModel" [ngModel] class="form-group">female
     <br>
     email: <input type="text"  name="mail" #mail="ngModel" [ngModel] class="form-group" required>
     phone: <input type="number"  name="phone" #phone="ngModel" [ngModel] class="form-group" required minlength="10"> <br>
     <div *ngIf="phone.errors && phone.touched">
       <span *ngIf="phone.errors.required">phone number is must</span>
       <span *ngIf="phone.errors.minlength">phone number is must 10 letters</span>

     </div>

    <button type="button" class="btn btn-danger"[disabled]="!TicketForm.valid" >proceed to pay</button>
    <button type="button" class="btn btn-info"(click)="TicketForm.resetForm()">back</button>


</form>
<button (click)="xyz(phone)">click</button> -->

          <!-- reactive forms -->
<!-- <div class="container">
  <div class="form-group" [formGroup]="RestaurantForm">
  restaurantname: <input type="text" formControlName="Restaurantname" class="form-control">
  Dishname: <input type="text" formControlName="DishName" class="form-control">
  price: <input type="text" formControlName="DishPrice" class="form-control">
  <br>
   <button class="button btn-success" [disabled]=!RestaurantForm.valid>add </button>
   <button class="button btn-danger" (click)="RestaurantForm.reset()" >clear </button>
   <br>
   <button (click)="abc()">check</button>

  </div>


</div> -->


<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
               <h1 class="text-align centre text-red pt-5">
                log in to Manteio
  </h1>
  <form class="form-group" [formGroup]="LoginForm" >
    <label >mobile number
      <input type="text" placeholder="enter mobile number" formControlName="Mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && LoginForm.controls['Mobile'].errors }" />
    </label>
    <div *ngIf="LoginForm.controls['Mobile'].errors && LoginForm.controls['Mobile'].touched" class="alert alert-warning ">
      <div  *ngIf="LoginForm.controls['Mobile'].errors.required">
       * mobile name must be entered
      </div>
      <span  *ngIf="LoginForm.controls['Mobile'].errors.minlength">
       * mobile number must be required in 10 digits
      </span>
    </div>
    <br>
    <label >password
      <input type="password" placeholder="enter password" formControlName="Password" class="form-control">
    </label>
    <div *ngIf="LoginForm.controls['Password'].errors && LoginForm.controls['Password'].touched"  class="alert alert-warning">
      <div  *ngIf="LoginForm.controls['Password'].errors.required">
       * password must be entered
      </div>
      <span  *ngIf="LoginForm.controls['Password'].errors.minlength">
        password must be required in 6 characters
      </span>
    </div>
    <br>
    <div>
    <button type="submit" class="btn btn-success" [disabled]="!LoginForm.valid " (click)="login()">login</button>
     </div>
  </form>
</div>
</div>
</div>
</div>



<!-- 

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3 class="text-center"> login to Manteio </h3>
              <form [formGroup]="LoginForm" >
                  <div class="form-group">
                      <label>mobile number</label>
                      <input type="text" placeholder="enter ur mobile number" formControlName="Mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && l.Mobile.errors }" />
                      <div *ngIf="submitted && l.Mobile.errors" class="invalid-feedback">
                          <div *ngIf="l.Mobile.errors.required">mobile number is required</div>
                      </div>
                  </div>
                  <div [formGroup]="LoginForm" >
                    <div class="form-group">
                      <label for="">password</label>
                      <input type="password"  placeholder="enter ur password" formControlName="Password" class="form-control" [ngClass]="{'is-invalid':  submitted && l.Password.errors }" />
                       <div *ngIf="submitted && l.Password.errors" class="invalid feed back">
                         <div *ngIf="l.Password.errors.required">please enter password</div>
                         <div *ngIf="l.Password.errors.minlength">Password must be at least 4 characters</div>

                       </div>
                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-success"  (click)="login()">login</button>
              
              </form>
          </div>
      </div>
  </div>
</div>

 -->
